# SETS

- Sequence DT
- Represented by "{ }"
- Unordered DT
- won't support duplicates.
- MUTABLE DT.
- We can't access values from set.
- We can't reassign a new value.

In [2]:
s = {"sai",89,34.56,"dilip","laxmi",89,"dilip","kiran",56,90.34}
print(s)
print(type(s))

{34.56, 'kiran', 'dilip', 'laxmi', 'sai', 56, 89, 90.34}
<class 'set'>

In [4]:
#create an empty set

s1 = set()
print(s1)
print(type(s1))

set()
<class 'set'>

In [8]:
#len()

s = {"sai",89,34.56,"dilip","laxmi",89,"dilip","kiran",56,90.34}
print(s)
print(len(s))

{34.56, 'kiran', 'dilip', 'laxmi', 'sai', 56, 89, 90.34}
8

In [11]:
#count() ->X
#index() ->X

In [12]:
s1 = {23,11,45,22,78,44,2,90}

#min()
print(min(s1))

#max()
print(max(s1))

#sum()
print(sum(s1))

2
90
315

In [13]:
#add one new value into the set-> v_n.add(new_value)

s = {"sai",89,34.56,"dilip","laxmi",89,"dilip","kiran",56,90.34}
print("original set:",s)

s.add("nandini")
print("After adding:",s)

original set: {34.56, 'kiran', 'dilip', 'laxmi', 'sai', 56, 89, 90.34}
After adding: {34.56, 'kiran', 'dilip', 'laxmi', 'nandini', 'sai', 56, 89, 90.34}

In [14]:
#add multiple new value into the set-> v_n.update({new_value1,new_value2------})

print("original set:",s)

s.update({"farooq",23.67,100})
print("After adding:",s)

original set: {34.56, 'kiran', 'dilip', 'laxmi', 'nandini', 'sai', 56, 89, 90.34}
After adding: {34.56, 100, 'kiran', 'dilip', 'laxmi', 23.67, 'nandini', 'sai', 56, 89, 90.34, 'farooq'}

In [15]:
#Delete values from the set
#pop()-> return removed value.Removes first value from the set

print("original set:",s)

print(s.pop())
print("After removing:",s)

original set: {34.56, 100, 'kiran', 'dilip', 'laxmi', 23.67, 'nandini', 'sai', 56, 89, 90.34, 'farooq'}
34.56
After removing: {100, 'kiran', 'dilip', 'laxmi', 23.67, 'nandini', 'sai', 56, 89, 90.34, 'farooq'}

In [17]:
#remove()-> v_n.remove(existing_value)

print("original set:",s)

s.remove(23.67)
print("After removing:",s)

original set: {100, 'kiran', 'dilip', 'laxmi', 23.67, 'nandini', 'sai', 56, 89, 90.34, 'farooq'}
After removing: {100, 'kiran', 'dilip', 'laxmi', 'nandini', 'sai', 56, 89, 90.34, 'farooq'}

In [18]:
#discard()-> v_n.discard(existing_value)

print("original set:",s)

s.discard("kiran")
print("After removing:",s)

original set: {100, 'kiran', 'dilip', 'laxmi', 'nandini', 'sai', 56, 89, 90.34, 'farooq'}
After removing: {100, 'dilip', 'laxmi', 'nandini', 'sai', 56, 89, 90.34, 'farooq'}

In [19]:
print("original set:",s)

s.remove("girish")
print("After removing:",s)

original set: {100, 'dilip', 'laxmi', 'nandini', 'sai', 56, 89, 90.34, 'farooq'}

KeyError: 'girish'

In [20]:
print("original set:",s)

s.discard("girish")
print("After removing:",s)

original set: {100, 'dilip', 'laxmi', 'nandini', 'sai', 56, 89, 90.34, 'farooq'}
After removing: {100, 'dilip', 'laxmi', 'nandini', 'sai', 56, 89, 90.34, 'farooq'}

In [21]:
#clear()

print("original set:",s)

s.clear()
print("After removing:",s)  #set()

original set: {100, 'dilip', 'laxmi', 'nandini', 'sai', 56, 89, 90.34, 'farooq'}
After removing: set()

In [22]:
#del -> del v_n
print("original set:",s)

del s
print("After removing:",s)

original set: set()

NameError: name 's' is not defined

In [23]:
#iterate the set

s = {"sai",89,34.56,"dilip","laxmi",89,"dilip","kiran",56,90.34}

for i in s:
    print(i,end=" ")

34.56 kiran dilip laxmi sai 56 89 90.34

In [30]:
#copy()
s = {"pavan","sai",67,12.34,"kiran"}  #original
s1 = s.copy()  #duplicated
print(s)
print(s1)

{67, 'pavan', 'kiran', 'sai', 12.34}
{67, 'pavan', 'kiran', 'sai', 12.34}

In [32]:
s1.add("Kiran")
print(s1)

{67, 'pavan', 'kiran', 'Kiran', 'sai', 12.34}

In [33]:
print(s)

{67, 'pavan', 'kiran', 'sai', 12.34}

# Set Functions/Set Operators

In [25]:
#union() -> create new set by joining given two sets where it accepts unique values.
#v_n1.union(v_n2)

s1 = {12,"laxmi",56,"hari",45.78}
s2 = {34,"laxmi",45,90.78,12}

s3 = s1.union(s2)
print(s3)
print(s1)
print(s2)

{34, 12, 45.78, 45, 'laxmi', 56, 90.78, 'hari'}
{'laxmi', 56, 12, 45.78, 'hari'}
{34, 'laxmi', 90.78, 12, 45}

In [26]:
#intersection() -> returns common values from two sets
#v_n1.intersection(v_n2)

s1 = {12,"laxmi",56,"hari",45.78}
s2 = {34,"laxmi",45,90.78,12}

s3 = s2.intersection(s1)
print(s3)
print(s1)
print(s2)

{'laxmi', 12}
{'laxmi', 56, 12, 45.78, 'hari'}
{34, 'laxmi', 90.78, 12, 45}

In [28]:
#difference() -> returns unique value from the first sets(left side)
#v_n1.difference(v_n2)

s1 = {12,"laxmi",56,"hari",45.78}
s2 = {34,"laxmi",45,90.78,12}

s3 = s2.difference(s1)
s4 = s1.difference(s2)
print(s3)
print(s4)
print(s1)
print(s2)

{34, 45, 90.78}
{56, 45.78, 'hari'}
{'laxmi', 56, 12, 45.78, 'hari'}
{34, 'laxmi', 90.78, 12, 45}

In [29]:
#symmetric_difference() -> returns unique value from the two sets
#v_n1.symmetric_difference(v_n2)

s1 = {12,"laxmi",56,"hari",45.78}
s2 = {34,"laxmi",45,90.78,12}

s3 = s1.symmetric_difference(s2)

print(s3)

print(s1)
print(s2)

{34, 45.78, 56, 90.78, 45, 'hari'}
{'laxmi', 56, 12, 45.78, 'hari'}
{34, 'laxmi', 90.78, 12, 45}

# Frozenset

- unordered DT
- won't support DT
- {}
- Immutable DT.
- To create a frozenset, we use "frozenset()".

In [34]:
fs = frozenset([90,"dilip","jai","dilip",90,"jai",67])
print(fs)
print(type(fs))

frozenset({67, 90, 'dilip', 'jai'})
<class 'frozenset'>

In [36]:
#len()

fs = frozenset([90,"dilip","jai","dilip",90,"jai",67])
print(fs)
print(len(fs))

frozenset({67, 90, 'dilip', 'jai'})
4

In [38]:
fs1 = frozenset((45,12,34,89,56,33))
print(fs1)

#min()
print(min(fs1))

#max()
print(max(fs1))

#sum
print(sum(fs1))

frozenset({33, 34, 12, 45, 56, 89})
12
89
269

In [39]:
#intersection() -> returns common values from two sets
#v_n1.intersection(v_n2)

s1 = frozenset({12,"laxmi",56,"hari",45.78})
s2 = frozenset({34,"laxmi",45,90.78,12})

s3 = s2.intersection(s1)
print(s3)
print(s1)
print(s2)

frozenset({'laxmi', 12})
frozenset({'laxmi', 56, 12, 45.78, 'hari'})
frozenset({34, 'laxmi', 90.78, 12, 45})